<header>
    <ul>
        <li>
            <button onclick="location.href = '/favorite'"><img src="./images/Heart.svg" alt=""></a></button>
        </li>
        <li>
            <button onclick="location.href = '/myaccount'"><img src="./images/Profile.svg" alt=""></a></button>
        </li>
    </ul>
</header>