<ul>
    <li>
      <button onclick=""><img src="./images/Heart.svg" alt=""></a></button>
    </li>
    <li>
      <button onclick="location.href = 'index.html'"><img src="./images/project_tech_logo_1.png" alt=""></a></button>
    </li>
    <li>
      <button onclick=""><img src="./images/Profile.svg" alt=""></a></button>
    </li>
  </ul>