<nav> 
<ul>
    <li> <a href="/"> Home </a></li>
    <li> <a href="/addmovie/"> Film toevoegen </a></li>
    <li> <a href="/account/"> Account aanmaken </a></li>
    <li> <a href="/login/"> Log in </a></li>
</ul>
</nav>