<nav> 
<ul>
    <li> <a href="/"> Home </a></li>
    <li> <a href="/addmovie/"> Film toevoegen </a></li>
    <li> <a href="/signup/"> Account aanmaken </a></li>
    <li> <a href="/login/"> Log in </a></li>
    <li> <a href="/myaccount/"> Mijn account </a></li>
    <li> <a href="/start/"> Start </a></li>
</ul>
</nav>