    <footer class="navigatie-footer">
        <div class="navigatie-footer-wrapper">
          <a onclick="location.href = '/bookmark'"><svg xmlns="http://www.w3.org/2000/svg" width="51" height="37" viewBox="0 0 41 37" fill="none">
            <path
              d="M20.5 37L17.5275 34.3384C6.97 24.9221 0 18.6916 0 11.0899C0 4.8594 4.961 0 11.275 0C14.842 0 18.2655 1.63324 20.5 4.19401C22.7345 1.63324 26.158 0 29.725 0C36.039 0 41 4.8594 41 11.0899C41 18.6916 34.03 24.9221 23.4725 34.3384L20.5 37Z"
              fill="#EBC0DA" />
          </svg></a>
    
          <a onclick="location.href = '/build'"><svg xmlns="http://www.w3.org/2000/svg" width="61" height="51" viewBox="0 0 51 51" fill="none">
            <path
              d="M50.392 23.9247C49.7821 26.405 48.6859 28.7397 47.1671 30.7934C45.6483 32.8472 43.737 34.5792 41.544 35.8892C39.3525 37.1973 36.923 38.0573 34.3965 38.4192C31.87 38.7811 29.2968 38.6378 26.8261 37.9976C26.2669 37.8447 25.6769 37.8447 25.1177 37.9976C24.5688 38.1198 24.0652 38.3936 23.6643 38.7879L12.7866 49.725C12.371 50.1225 11.8873 50.442 11.3586 50.6683C10.8186 50.8939 10.238 51.0067 9.65277 50.9997C9.07583 51.0057 8.50383 50.8929 7.9724 50.6683C7.44028 50.4484 6.95548 50.1281 6.54448 49.725L1.2739 44.4476C0.862589 44.0433 0.541121 43.5568 0.330446 43.02C-0.110149 41.9326 -0.110149 40.7165 0.330446 39.6292C0.541121 39.0923 0.862589 38.6059 1.2739 38.2015L12.1797 27.29C12.5801 26.8999 12.8628 26.4052 12.9956 25.8623C13.1486 25.3294 13.1486 24.766 12.9956 24.2306C12.1207 20.883 12.16 17.362 13.1095 14.0348C14.0589 10.7075 15.8838 7.69588 18.3937 5.31384C20.8831 2.94658 23.9626 1.29127 27.3106 0.520909C30.679 -0.285743 34.204 -0.153475 37.5024 0.903324C37.819 0.995498 38.1058 1.16899 38.3344 1.40651C38.563 1.64403 38.7254 1.93729 38.8054 2.25708C38.8853 2.57688 38.8801 2.91203 38.7902 3.22917C38.7003 3.54631 38.5288 3.83436 38.2929 4.06462L30.8524 11.5345C29.9515 12.517 29.4433 13.7964 29.4244 15.1292C29.3942 15.7129 29.5854 16.2865 29.9599 16.7353L34.3431 21.1458C34.6731 21.3867 35.0518 21.5525 35.4526 21.6318C35.8534 21.7111 36.2667 21.7018 36.6635 21.6047C37.7447 21.4563 38.7559 20.9854 39.5653 20.2535L47.0058 12.7837C47.2421 12.556 47.531 12.3902 47.8469 12.3012C48.1628 12.2123 48.4958 12.2029 48.8162 12.2738C49.1385 12.3525 49.4348 12.5138 49.6758 12.7418C49.9168 12.9698 50.0942 13.2566 50.1906 13.574C51.1955 16.942 51.2635 20.5197 50.392 23.9247Z"
              fill="#EBC0DA" />
          </svg></a>
    
          <a onclick="location.href = '/myaccount'"><svg xmlns="http://www.w3.org/2000/svg" width="47" height="37" viewBox="0 0 37 37" fill="none">
            <path
              d="M18.5 18.5C15.9562 18.5 13.7786 17.5943 11.9672 15.7828C10.1557 13.9714 9.25 11.7937 9.25 9.25C9.25 6.70625 10.1557 4.52865 11.9672 2.71719C13.7786 0.90573 15.9562 0 18.5 0C21.0437 0 23.2214 0.90573 25.0328 2.71719C26.8443 4.52865 27.75 6.70625 27.75 9.25C27.75 11.7937 26.8443 13.9714 25.0328 15.7828C23.2214 17.5943 21.0437 18.5 18.5 18.5ZM0 37V30.525C0 29.2146 0.337625 28.0105 1.01288 26.9129C1.68813 25.8152 2.58383 24.9765 3.7 24.3969C6.08958 23.2021 8.51771 22.3064 10.9844 21.7097C13.451 21.1131 15.9562 20.814 18.5 20.8125C21.0437 20.8125 23.549 21.1116 26.0156 21.7097C28.4823 22.3079 30.9104 23.2036 33.3 24.3969C34.4177 24.975 35.3142 25.8137 35.9894 26.9129C36.6647 28.0121 37.0015 29.2161 37 30.525V37H0Z"
              fill="#EBC0DA" />
          </svg></a>
        </div>
      </footer>