<!DOCTYPE html>
<html lang="en">

<head> 
<%- include('../partials/head'); %> 
</head>

<body>

<header> 

<%- include('../partials/nav'); %> 

</header>

<main> 

    <h1> About ${req.params.name} </h1>

<ul>

</ul>

</main>

<footer> </footer>

<script defer src="scripts/script.js"> </script>

</body>
</html>