<!DOCTYPE ejs>
<html lang="en">

<head>
    <%- include('../partials/head'); %>


</head>

<body>

    <header>

        <%- include('../partials/nav'); %>

    </header>

    <main>



        <div class="container">
            <h2>Account aanmaken</h2>
            <form id="accountForm" action="/add-account" method="POST">
                <label> Username:</label>
                <input type="text" name="username" required>

                <label> Password: </label>
                <input type="password" name="password" required>

                <input type="submit" value="account maken">
            </form>
        </div>


    </main>

    <footer> </footer>

    <script defer src="/scripts/script.js"> </script>

</body>

</html>