<!DOCTYPE ejs>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body>

    <header>

        <%- include('../partials/nav'); %>

    </header>

    <main>

        <div class="container">
            <h2>Add new movie </h2>
            <form id="movieForm" action="/movies" method="POST">
                <label>Title:</label>
                <input type="text" name="title">

                <label>Plot:</label>
                <input type="text" name="plot">

                <label>Description:</label>
                <textarea name="description"> </textarea>

                <input type="submit" value="add movie">
            </form>
        </div>



    </main>

    <footer> </footer>

    <script defer src="/scripts/script.js" type="text/javascript"> </script>

</body>

</html>