<!-- HTML omgezet naar ejs en werkend gemaakt door Sindy -->

<!DOCTYPE ejs>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account verwijderd</title>

    <link href="/styles/style.css" rel="stylesheet">
    <link rel="icon" type="image/svg+xml" href="https://placehold.co/100x100">
</head>

<body class="BodyAccountIsVerwijderen">

    <main class="accountIsverwijderen-wrapper">

        <section class="accountIsverwijderen-box">
            <form action="">
                <img src="/images/check.png" alt="Checkmark" width="130px">
                <p>Uw account is succesvol verwijderd</p>
                <div class="accountisverwijderen-input-box">
                    <a href="/signup">Doorgaan</a>
                </div>
            </form>
        </section>
    </main>
</body>
