
<!DOCTYPE ejs>
<html lang="en">

<head> 
<%- include('../partials/head'); %> 
</head>

<body>

<header> 

<%- include('../partials/nav'); %> 

</header>

<main> 

<h1> Hallo daar </h1>
<p> dit gaat goed </p>






</main>

<footer> </footer>

<script defer src="/scripts/script.js" type="text/javascript"> </script>

</body>
</html>