<!DOCTYPE ejs>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LogIn</title>

    <link href="/styles/style.css" rel="stylesheet">
    <link rel="icon" type="image/svg+xml" href="https://placehold.co/100x100">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sonsie+One&display=swap" rel="stylesheet">
</head>

<body class="BodyLogIn">
    <main>
        <section class="LogInWrapper">
                        <h1>Welkom! <br> Log eerst in. </h1>
               <form id="loginForm" action="/loggedin" method="POST">
    
                <div class="input-box">
                        <input type="text" name="username" placeholder="Gebruikersnaam" required>
                    </div>
                    
                    <div class="input-box">
                    <input type="password" name="password" placeholder="Wachtwoord" required>
                </div>

                <div class="input-box">
                <input type="submit" value="Login" class="btn">
            </div>

                <div class="remember-forgot">
                    <a href="password">Wachtwoord vergeten?</a>
                </div>

                <div class="register-link">
                    <p>Account aanmaken? <a href="signup">Meld aan</a>
                    </p>
                </div>
            </form>
        </section>
        <img src="/images/flamingwheelspink2.png" alt="" width="430">
    </main>
</body>

</html>