<!DOCTYPE ejs>
<html lang="en">

<body>

    <%- include('../partials/header'); %> 
    
    <main>

        <h1> Mijn account </h1>

        <h2> Welkom, <%= user.username %>  </h2>
        <button onclick="location.href = 'update_username';">Wijzig gebruikersnaam</button>
        <button onclick="location.href = 'update_password';">Wijzig wachtwoord</button>
        <button onclick="location.href = 'update_email';">Wijzig email</button>
       

<br>
        <img src="image/<%= user.avatar %>">
        <br>

        <form id="uploadpicture" action="/myaccount" method="POST" enctype="multipart/form-data"> 
            <label>Wijzig jouw profielfoto:</label>
            <input type="file" name="avatar" accept="image/*">
       <input type="submit" value="Voeg toe">
       </form>

        <p> Jouw email is: <%= user.email %> </p>

       <form id="logoutbutton" action="/logout" method="GET"> 
        <button> Log uit </button>
     </form>

     <button onclick="location.href = 'delete_account';">Verwijder account</button>
       

    </main>

    <footer> </footer>

    <script defer src="/scripts/script.js"> </script>

</body>

</html>