<!DOCTYPE ejs>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body>

    <header>

        <%- include('../partials/nav'); %>

    </header>

    <main>

        <h1> Mijn account </h1>

        <h2> Welkom,  </h2>


    </main>

    <footer> </footer>

    <script defer src="/scripts/script.js"> </script>

</body>

</html>