<!DOCTYPE ejs>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChooseCar</title>

    <link href="styles/style.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="./images/project_tech_logo_1.png">
</head>

    <body>

        <%- include('../partials/navHeader'); %>


    <main id="ResultsPage">
        <section class="BuildImg">
            <img src="./images/auditt.png" alt="" id="CarBody">
            <img src="./images/auditt.png" alt="" id="CarVelgen">
            <img src="./images/auditt.png" alt="" id="CarKleur">
        </section>

        <section class="ResultsHeading">
          <section>
            <input type="search" class="search" placeholder="wat zoek je?">
            <button class="sort" data-sort="merk"  data-default-order='asc'>merk</button>
            <button class="sort" data-sort="kilometers">Kilometers</button>
            <button class="sort" data-sort="Brandstof">Brandstof</button>
            <button class="sort" data-sort="Bouwjaar">Bouwjaar</button>
          </section>
          <h2>results</h2>
          <!-- <img src="./images/filter.svg" alt="" onclick=""> -->
          <section id="theList">
            <ul class="SearchResultList list">
              <!-- <li class="SearchResult">
                  <h3>Naam:</h3>
                  <p>Jaar:</p>
                  <button onclick=""><img src="./images/Heart.svg" alt=""></a></button>
                  <div></div>
              </li> -->
          </ul>   
          </section>
  
        
    </main>

    <%- include('../partials/navFooter'); %>

    <script src="./scripts/script.js"></script>
    <script type="module" src="//cdnjs.cloudflare.com/ajax/libs/list.js/2.3.1/list.min.js"></script>
    <script>window.onload = showResults</script>

</body>

</html>