<!DOCTYPE ejs>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>

    <link href="styles/style.css" rel="stylesheet">
    <link rel="icon" type="image/svg+xml" href="https://placehold.co/100x100">

    <!-- <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sonsie+One&display=swap" rel="stylesheet"> -->
</head>

<body class="BodySignIn">
    <%- include('../partials/navHeader'); %> 
    <main>
        <section class="LogInWrapper">
            <form id="accountForm" action="/add-account" method="POST">                    
                <h1>Maak hier je account aan!</h1>
                <div class="input-box">
            <input type="text" name="username" placeholder="Gebruikersnaam" required>
            </div>
            <div class="input-box">
                    <input type="email" name="email" placeholder="Email" required>
                </div>

                <div class="input-box">
                    <input type="password" name="password" placeholder="Wachtwoord" required>
                </div>

                <input type="submit" value="account aamaken" class="btn">
            </div>
            </form>
        </section>
        <img src="./images/flamingwheelspink2.png" alt="" width="430">
    </main>
</body>

</html>