<!DOCTYPE ejs>
<html lang="en">

<body>

    <%- include('../partials/header'); %> 
    
    <main>

<form id="updateUsername" action="/updated_password" method="POST" enctype="application/x-www-form-urlencoded"> 
    <label>Wijzig jouw wachtwoord:</label>
    <input type="password" name="updatedPassword" placeholder="Wachtwoord" required>
<input type="submit" value="Wijzig wachtwoord">
</form>

</main>

<footer> </footer>

<script defer src="/scripts/script.js"> </script>

</body>

</html>